<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <select class="custom-select custom-select-lg mb-3">
                <option selected>Select a Student</option>
                <option *ngFor="let item of ser.students" [value]="item['_id']" (click)="change(item['_id'],true)">{{item.name}}</option>
              </select>
        </div>
    </div>

    <div class="row" *ngIf="display">
        <ng-container *ngFor="let item of ser.mentor">
            <div class="col-lg-4">
                <ng-container>
                    <div class="card bg-light mb-3" style="max-width: 18rem;">
                        <div class="card-header"><input type="radio" [value]="item['_id']" name="mentor" (click)="onCheckChange($event)"> &nbsp;&nbsp;&nbsp;{{item.name}}</div>
                        <div class="card-body">
                            <h5 class="card-title">Role:{{item.role}}</h5>
                            <h5 class="card-title">Age:{{item.age}}</h5>
                            <p class="card-text">Phone Number :{{item.phoneNo}}</p>
                        </div>
                    </div>
                </ng-container>

            </div>
        </ng-container>
    </div>

    <div class="row">
        <div class="col-lg-12 text-right">
            <input type="submit" class="btn btn-dark" value="Update" (click)="update()" [disabled]="updateValue.mentorId=='' || updateValue.studentId==''">
        </div>
    </div>
</div>